.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "content content cart cart";
}

.content {
  grid-area: content;
}

.card-container {
  box-shadow: 0px 0px 10px 0px var(--dark-theme-shade-20);
}

.cart-section {
  grid-area: cart;
}

.cart-description {
  background-color: var(--secondary-theme-color);
}

.quantity-btn {
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid var(--light-color);
  cursor: pointer;
}

.quantity-number {
  width: 2rem;
  border: 1px solid var(--light-color);
}

.marginL {
  margin-left: auto;
}

.text-strike-through {
  text-decoration: line-through;
}
