.cartpage-grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "content content cart cart";
  padding: 0 1rem;
}

.content {
  grid-area: content;
  width: 30rem;
  margin: 5rem auto 1rem;
}

.card-container {
  box-shadow: 0px 0px 10px 0px var(--dark-theme-shade-20);
  display: flex;
  align-items: center;
}

.cart-section {
  grid-area: cart;
  margin: 7rem 1rem auto;
}

.cart-description {
  background-color: var(--secondary-theme-color);
}

.quantity-btn {
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid var(--light-color);
  cursor: pointer;
}

.quantity-number {
  width: 2rem;
  border: 1px solid var(--light-color);
}

.marginL {
  margin-left: auto;
}

.text-strike-through {
  text-decoration: line-through;
}

.empty-cart{
  display: grid;
  justify-content: center;
  align-content: start;
  margin: 5rem 0;
}