.profile-page{
    display: grid;
    grid-template-areas: "aside-nav content content content content content";
    margin: 6rem 4rem 0;
}

.aside-nav{
  grid-area: aside-nav;
}

.profile-details{
    background-color: var(--primary-theme-shade-20);
    grid-area: content;
    height: 10rem;
}

.profile{
    display: flex;
    align-items: center;
    background-color: var(--secondary-theme-color);
}

.profilenav-wrapper{
    padding: 0.5rem 0;
    background-color: var(--secondary-theme-color);
}