.home-main{
  background-color: var(--dark-theme-shade-80);
  margin: 5rem 0;
}

.banner-image-container {
  height: 35rem;
  width: 70rem;
  margin: 10px auto;
  position: relative;
}

.category-container {
  width: 95%;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
}

.card-img {
  cursor: pointer;
  width: 25%;
  height: 22rem;
}

.login-form {
  height: 80vh;
  justify-content: center;
}

.form-container {
  width: 30%;
}
