.nav-bar {
  padding: 0rem 1rem;
  border-bottom: 1px solid var(--dark-theme-shade-20);
  background-color: var(--secondary-theme-color);
}

.container {
  width: 95%;
  margin: 1.5rem auto;
}

.banner-image-container {
  height: 85vh;
  margin: 5px auto;
}

.login-form {
  height: 80vh;
  justify-content: center;
}

.main-section {
  background-color: var(--dark-theme-shade-80);
}

.form-container {
  width: 30%;
}

.card-img {
  cursor: pointer;
  width: 25%;
  height: 50vh;
}
