.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "side-bar content content content";
}

.card-icon {
  position: absolute;
  font-size: 2rem;
  top: 10px;
  right: 10px;
  color: var(--primary-theme-light-color);
}

.side-bar {
  grid-area: side-bar;
  background-color: var(--secondary-theme-color);
}

.content {
  grid-area: content;
  background-color: var(--dark-theme-shade-80);
  flex-wrap: wrap;
}

.vertical-card-container {
  box-shadow: 0px 0px 10px 0px var(--dark-theme-shade-20);
}

.margin-lf {
  margin-left: auto;
}
