.productpage-grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "side-bar content content content";
}

.wishlist-icon {
  position: absolute;
  font-size: 2rem;
  top: 10px;
  right: 10px;
  color: var(--primary-theme-light-color);
}

.side-bar {
  grid-area: side-bar;
  background-color: var(--secondary-theme-color);
  width: 18%;
  position: fixed;
  min-height: 100vh;
  top: 10%;
}

.productpage-content {
  grid-area: content;
  background-color: var(--dark-theme-shade-80);
  margin: 7vh 0 0 18%; 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.vertical-card-container {
  box-shadow: 0px 0px 10px 0px var(--dark-theme-shade-20);
}

/* .margin-lf {
  margin-left: auto;
} */

.rating-info {
  position: absolute;
  bottom: 25%;
  left: 10px;
  background-color: var(--secondary-theme-color);
  opacity: 0.8;
}

.trending-info {
  position: absolute;
  top: 3%;
  left: 5px;
  background-color: var(--secondary-light-color);
  opacity: 0.8;
}

.star-info {
  color: var(--rating-color);
}
