@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-theme-shade-80);
}

.nav-bar {
  grid-area: nav-bar;
  padding: 0rem 1rem;
  border-bottom: 1px solid var(--dark-theme-shade-20);
  background-color: var(--secondary-theme-color);
}

.search-container {
  width: 40%;
  margin: 0 auto;
}

.search-icon {
  left: 2%;
  transform: translate(20%, -50%);
}

.nav-wishlist-icon,
.nav-cart-icon,
.search-icon {
  font-size: 1.2rem;
  color: var(--dark-theme-color);
}
