.aside__nav{
    grid-area: aside-nav;
}

.profile{
    display: flex;
    align-items: center;
    background-color: var(--secondary-theme-color);
    padding: 0.5rem;
    margin: 0.25rem;
}

.profilenav__wrapper{
    padding: 0.5rem 0;
    background-color: var(--secondary-theme-color);
    margin: 0.25rem;
}

