.nav__bar{
    grid-area: nav-bar;
    padding: 0rem 1rem;
    border-bottom: 1px solid var(--dark-theme-shade-20);
    background-color: var(--secondary-theme-color);
    width: 100%;
    position: sticky;
    top:0%;
    z-index: 22;
    display: flex;
    align-items: center;    
}
  
.search__container{
    width: 40%;
    margin: 0 auto;
    position: relative;
}
  
.search__icon {
    left: 2%;
    transform: translate(20%, -50%);
    top: 50%;
    position: absolute;
}
  
.wishlist__icon,
.cart__icon,
.search__icon {
    font-size: 1.5rem;
    color: var(--dark-theme-color);
}