.grid__container{
    display: grid;
    grid-template-areas: "aside-nav content content content content content";
    margin: 2rem 4rem 0;
}

.address__wrapper{
    background-color: var(--secondary-theme-color);
    grid-area: content;
    margin: 0.25rem;
    padding: 0.25rem;
}

.address__div{
    border: 1px solid var(--dark-theme-color);
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add__address{
    font-size: 1.5rem;
    margin: 0.25rem;
}


